
body {
    font-family: 'Inter', 'Montserrat', 'Titilium Web', 'Arial', 'Open Sans', Menlo, Monaco, Consolas, 'Courier New';
    font-family: 'Montserrat', 'Titilium Web', 'Arial', 'Open Sans', 'Courier New';
    font-weight: 500px;
    font-size: 12px;
}
body, html{ 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box; 
    overflow-x: hidden;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
}
.page{
    min-height: 100vh;
}

.hide{
    display: none;
}
.show{
    display: inline-block;
}
a{ 
    display: inline-block;
    cursor: pointer; 
    font-size: 12px;
    text-decoration: none;
}
button{
    border: none;
    color: #0d6efd;
    background: none;
    box-shadow: none;
}


.app-btn{
    cursor: pointer;
    padding: 10px 5px !important;
    width: 200px;
    max-width: 700px;
    color: #ffff !important;
    font-size: 18px;
    background: #0000;
    border: 2px solid #ffff;
    box-shadow: 5px 5px 10px #0000;
    border-radius: 2px;
}
.del-btn{
    cursor: pointer;
    width: 100px;
    max-width: 700px;
    color: #900f !important;
    font-size: 18px;
    background: #0000;
    border: 1px solid #fff0;
    box-shadow: 5px 5px 10px #0000;
    border-radius: 2px;
}
.submit-btn{
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 700px;
    color: #fff !important;
    background: #000f !important;
    border: 2px solid #000f;
}


.btn-black{
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    max-width: 700px;
    font-size: 18px;
    color: #fff !important;
    background: #000f !important;
    border: 2px solid #000f !important;
    box-shadow: 5px 5px 10px #0007;
}
.btn-blue{
    padding: 10px;
    width: 200px;
    max-width: 700px;
    color: #ffff;
    background: #0022cc !important;
    background: #0055ccff !important;
    background: #0000ffff !important;
    border: none;
    box-shadow: 5px 5px 10px #0007;

}
.btn-white{
    margin: 10px 0px;
    padding: 10px;
    width: 200px;
    max-width: 400px;
    font-size: 18px;
    color: #222f !important;
    background: #ffff !important;
    border: 2px solid #fff9 !important;
    box-shadow: 5px 5px 10px #0007;
}
.btn-red{
    margin: 25px 0px;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    color: #ffff !important;
    background: #700f !important;
    border: 2px solid #f00f !important;
    box-shadow: 5px 5px 10px #0007;
}

// .row{
//     border: 2px solid #fff7;
// }
// .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
// .col-lg-6, .col-lg-8, .col-lg-10, .col-lg-12{
//     border: 1px solid #f007;
// }



